<layout name="Public/layout"/> 

<!-- slide -->
<include file="Public/slide" />


<div class="bannerbg"> </div>
<div class="bgb"></div>
<div class="h0"></div>
<div class="w">

<!-- server -->
<include file="Public/server" />


  <!-- left end -->
  <div class="right r">
    <div class="column"> 当前位置：<a href="{:U('Index/index')}">主页</a> > <a href=''>服务项目</a> >  </div>
    <!-- column end -->
    <div class="zcont">
      <h1 class="znewstit">为何冬季空调制热不足？ </h1>
      <div class="author">作者：admin &nbsp;&nbsp; 发布于：2017年04月13日 17时06分18秒 &nbsp;&nbsp; </div>
      <div id="info"><p style="color: rgb(75, 72, 72); font-family: Verdana; font-size: 12px; line-height: 22px; white-space: normal;"><span style="font-size:12px"><span style="font-family:Verdana">
      
      <div>
	在寒冷冬季，特别是南方，很多朋友都喜欢用空调制热，抵抗冬季带来的寒冷据了解，在常年使用以后，很多朋友家里的空调都出现了制热不足的现象，有的误以为家里的空调需要加氟，有的则以为家里的空调出现故障。究竟为何空调长期使用以后制热不足？</div>
<div>
	一、使用不当</div>
<div>
	空调在长期时候后没有及时的清洗滤网以及内部造成空气流通堵塞，一定程度上会影响空调的制热效果。</div>
<div>
	蒸发器、冷凝器尘垢太厚，也会降低换热效果，导致制热能力下降，耗电量增加；制热温度设定过低。</div>
<div>
	而空调房间门缝、墙洞未堵死，或是开窗开门频繁，造成室内热量流失等都会是无意间造成空调制暖不强劲的原因。</div>
<div>
	二、环境因素</div>
<div>
	冷暖型空调分热泵型、热泵辅助电热型和电热型三种产品，在制热量相等条件下，前两种耗电比第三种约小一半，考虑到供电容量和用电费用，现在的家庭普遍选择前两类空调（但应注意它们的使用条件，前两种只适用于&mdash;&mdash;5度以上的环境下，显然对北方地区不适用）。</div>
<div>
	热泵型空调器，制热时环境温度过低，空调能效比也降低，在较冷的冬天制热效果不理想，这是正常现象。对于无自动除霜的热泵型空调器，它使用的最低环境温度是零上５度，低于这个温度就不制热或效果很差，这是因为外部换热器上积霜堵住了空气流动，不能再从外界吸入热量的缘故；对于有自动除霜的热泵型空调器，它使用的最低环境温度也是-５度，低于这个温度也不能有效制热。</div>
<div>
	三、制冷循环系统、控制系统故障</div>
<div>
	1.制冷剂不足。</div>
<div>
	冷剂泄露或是不足原因导致，这时可简单的进行自测来辨别是否漏氟。</div>
<div>
	2.四通阀串气。</div>
<div>
	热泵型空调通过四通阀来切换制冷和制热状态。若四通阀串气，则有部分本应参与热交换的制冷剂在四通阀处直接由压缩机出气管返回到回气管，导致参与热交换的制冷剂减少，热交换效率下降，从而引起制热量不足。</div>
<div>
	3.单向阀（又称止逆阀）漏气。</div>
<div>
	当单向阀漏气时，制冷系统的高、低压压差下降，室外热交换器的温度上升，从外界获取的热量减少，导致制热量不足。当出现空调制冷正常、制热量不足故障时，通过检测系统运行时的压力，会发现低压侧压力上升，高、低压压差下降。</div>
<div>
	4.化霜控制器失灵。</div>
<div>
	热泵型空调在制热状态时的蒸发器位于室外机组内，对于采用热冲霜化霜装置的热泵型空调，若化霜控制器失灵，使空调无法及时转入化霜运行状态，则会出现热泵制热时蒸发器结霜现象，影响空调制热的热交换效率，导致制热量不足、甚至停机。</div>
<div>
	此时应着重观察是否存在以下现象：化霜感温器件错位、触头粘边或接触不良，风机叶轮打滑或风道阻塞，电磁阀或启动继电器失效。</div>
<div>
	5.辅助电加热功能失效。</div>
<div>
	现在热泵辅助电热型空调普遍采用PTC电辅助加热技术，PTC电辅助加热技术可在超低温条件下迅速制热，效力强劲，安全可靠，可长期使用。若电辅助加热控制电路或电辅助加热设备出现故障、不能正常工作，在环境温度比较低时，会导致空调制热量不足，甚至在环境恶劣时空调完全不制热。</div>
<div>
	对于热泵辅助电热型空调，若出现环境温度较高（在5度以上）制热正常，而环境温度较低（在0度以下）制热量不足或不制热，则应怀疑电辅助加热控制电路或电辅助加热设备出现故障，维修时应着重检查这两个部分。<br />
	<br />
	<br />
	苏宁空调维修售后服务网http://www.gzsnktwx.com/广州空调维修,广州空调清洗,广州空调加雪种</div>

      
      </div>
      <!--info end -->
      <div class="news_url">  </div>
      <!--news_url end -->
      <div class="page_pn">
        <div class="prev">上一篇：<a href='/cjwt/153.html'>空调经常遇到哪些问题？</a> </div>
        <div class="next">下一篇：没有了 </div>
      </div>
      <!--page_pn end -->
    
      <!--guess_like end --> 
      
    </div>
    <!--zcont end --> 
  </div>
  <!--rihgt end --> 
</div>
<!--main end -->

