<layout name="Public/layout"/> 

<!-- slide -->
<include file="Public/slide" />


<div class="bannerbg"> </div>
<div class="bgb"></div>
<div class="h0"></div>
<div class="w">

<!-- server -->
<include file="Public/server" />


  <div class="right r">
    <div class="column"> 当前位置：<a href=" {:U('Index/index')} ">主页</a> > <a href='/khfw/'>服务项目</a> </div>
    <div class="zcont">
      <div id="info">
      	{$info.content}
      </div>
      <div style="height:20px; clear:both;"></div>
    </div>
  </div>
</div>



