<layout name="Public/layout"/> 

<!-- slide -->
<include file="Public/slide" />



<div class="bannerbg"> </div>
<div class="bgb"></div>
<div class="h0"></div>
<div class="w">

<!-- server -->
<include file="Public/server" />


  <div class="right r">
    <div class="column"> 当前位置：<a href="{:U('Index/index')}">主页</a> > <a href="{:U('Page/intro')}">公司简介</a> </div>
    <div class="zcont">
      <div id="info"><p><div style="text-align: center;">
	&nbsp;<img alt="" src="__PUBLIC__/Home/picture/1-160gq21015413.jpg" style="width: 708px; height: 196px;" /></div>
<div>
	{$info.content}
</div>
<br />
</p></div>
      <div style="height:20px; clear:both;"></div>
    </div>
  </div>
</div>


